body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

#start-ar {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
